<!doctype html>
<html>
<head>
  <title>Playground</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Hello World!</h1>
</body>
</html>